<!-- Loop over each object in the projects array -->
{{#each blogs as |blog|}}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{blog.title}}</h4>
    <p>{{blog.description}}</p>
    <hr>
    <p class="mb-0">Written by: {{user.username}}</p>
</div>
{{/each}}