body {
    background-image: linear-gradient(45deg, #FFE5D9, #f8fcf9);
}

.navbar a {
    background-color: #F4ACB7;
    color: white;
    display: flex;
}

.navbar a:hover {
    background-color: gray;
}

nav {
    background-color: #F4ACB7;
    top: 0;

    position: sticky;
}

.blogContainer {
    background-color: #D8E2DC;
    padding: 1rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.comment {
    background-color: #dfdfdf;
    padding: 0 1rem;
}

.commenter {
    color: rgb(77, 77, 77)
}

.btn {
    background-color: #F4ACB7;
}

.commentLoginMessage {
    color: red;
    margin-top: -.1rem;
    font-weight: bold;
    /* display: none */
}